/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "PhilosopherRegular"; */
@font-face {
    font-family: "PhilosopherRegular";
    src: url("../fonts/PhilosopherRegular/PhilosopherRegular.eot");
    src: url("../fonts/PhilosopherRegular/PhilosopherRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PhilosopherRegular/PhilosopherRegular.woff") format("woff"),
    url("../fonts/PhilosopherRegular/PhilosopherRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PhilosopherBold"; */
@font-face {
    font-family: "PhilosopherBold";
    src: url("../fonts/PhilosopherBold/PhilosopherBold.eot");
    src: url("../fonts/PhilosopherBold/PhilosopherBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PhilosopherBold/PhilosopherBold.woff") format("woff"),
    url("../fonts/PhilosopherBold/PhilosopherBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PhilosopherItalic"; */
@font-face {
    font-family: "PhilosopherItalic";
    src: url("../fonts/PhilosopherItalic/PhilosopherItalic.eot");
    src: url("../fonts/PhilosopherItalic/PhilosopherItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PhilosopherItalic/PhilosopherItalic.woff") format("woff"),
    url("../fonts/PhilosopherItalic/PhilosopherItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PhilosopherBoldItalic"; */
@font-face {
    font-family: "PhilosopherBoldItalic";
    src: url("../fonts/PhilosopherBoldItalic/PhilosopherBoldItalic.eot");
    src: url("../fonts/PhilosopherBoldItalic/PhilosopherBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PhilosopherBoldItalic/PhilosopherBoldItalic.woff") format("woff"),
    url("../fonts/PhilosopherBoldItalic/PhilosopherBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}