*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	font-family: "Segoe UI", sans-serif;
	background: url(../img/main-bg.jpg);
}
.col-md-1, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9,
.col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9,
.col-xs-10, .col-xs-11, .col-xs-12 {
	margin: 0;
	padding: 0;
	/*outline: 1px solid red;*/
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
header, .wrapper, footer {
	/*outline: 1px solid red;*/
	z-index: -500;
}
header {
	height: 85px;
	background: #FFFFFF;
}
h1 {
	margin: 12px 0 0 0;
	font-family: "PhilosopherRegular";
	font-size: 2.2em;
}
.wrapper {
}
footer {
}
.container {
	margin: 0 auto;
	height: 100%;
	width: 1024px;
	padding: 0 30px 0px;
	background: #FFFFFF;
}
.wrapper {
	min-height: 600px;
	/*padding-bottom: 40px;*/
}
h3 {
	background: url(../img/h3-decor.jpg) no-repeat;
	background-position: 3px 63px;
}
.breadcrumbs {
	padding: 0 3px 5px 3px;
	background: #E57DE1;
	margin-top: 7px;
}
.breadcrumbs ul {
	padding: 0;
	margin: 0;
	padding-left: 11px;
}
.breadcrumbs ul li {
	display: inline-block;
	list-style: none;
}
.breadcrumbs a {
	color: #fff;
	font-size: .9em;
	font-weight: 500;;
}
.title {
	color: #E57DE1;
	font-weight: 500;
	margin: 5px 0 7px;
}

/*html.js .loader {
background: none repeat scroll 0 0 #ffffff;
bottom: 0;
height: 100%;
left: 0;
position: fixed;
right: 0;
top: 0;
width: 100%;
z-index: 9999;
}
html.js .loader_inner {
background-image: url("../img/preloader.gif");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-color: #fff;
height: 60px;
width: 60px;
margin-top: -30px;
margin-left: -30px;
left: 50%;
top: 50%;
position: absolute;
}*/

hr {
	margin: 0;
}
.hidden {
	display: none;
}
/*ШАПКА НАЧАЛО*/ 
.logo {
	background: url(../img/logo.png) no-repeat center;
	height: 100%;
	background-position: 65px 2px;
}
.topbg {
	width: 100%;
	height: 176px;
	background: url(../img/main-top-bg.jpg) no-repeat center bottom;
}
/*ШАПКА КОНЕЦ*/ 

/*СТРАНИЦА ГЛАВНАЯ НАЧАЛО*/ 
.mainpage .container {
	margin-top: -36px;
	-webkit-box-shadow: 0 0 15px 15px rgba(0, 0, 0, .6);
	box-shadow: 0 0 150px 15px rgba(0, 0, 0, .4);
}
.mainpage h3 {
	margin: 13px 0 18px 0;
	color: #0F1B33;
	font-family: Ubuntu, Verdana;
	font-size: 3.05em;
	text-transform: uppercase;
}
/*ФИЛЬТРЫ НАЧАЛО*/
.mainpage h4 {
	display: table-cell;
	float: none;
	margin: 0;
	margin-top: 6px;
	padding-right: 65px;
	font-family: "PhilosopherRegular";
	font-size: 2.2em;
	color: #0F1B33;
	border-bottom: 2px solid #0F1B33;
	line-height: 1em;
	padding-bottom: 3px;
}
.poshiv {
	margin-bottom: 62px;
}
.poshiv .filter {
	border-bottom: 1px solid #89042D;
	border-top: 1px solid #89042D;
	margin-top: 26px;
}
.raiony .filter {
	border-bottom: 1px solid #89042D;
	border-top: 1px solid #89042D;
	margin-top: 9px;
}
.mainpage .poshiv .item,
.mainpage .raiony .item {
	border-bottom: 1px solid #89042D;
}
.remont .filter {
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	margin-top: 26px;
}
.mainpage .remont .item {
	border-bottom: 1px solid #000000;
}
.item {
	padding: 6px 0 8px;
	margin-bottom: -1px;
}
input[type="checkbox"] {
	display: none;
}
label {
	padding-left: 18px;
	font-size: 1.23em;
}
input[type="checkbox"]:hover + label {
	
}
.poshiv label,
.raiony label {
	color: #89042D;
}
.poshiv label:hover, .poshiv input[type="checkbox"]:checked + label,
.raiony label:hover, .raiony input[type="checkbox"]:checked + label {
	text-decoration: underline;
	color: #000;
	background: url(../img/item-black-bg.jpg) no-repeat left;
}
.remont {
	padding-bottom: 50px;
}
.remont label {
	color: #000000;
}
label:hover, input[type="checkbox"]:checked + label {
	text-decoration: underline;
	color: #89042D;
	background: url(../img/item-red-bg.jpg) no-repeat left;
}

/*ФИЛЬТРЫ КОНЕЦ*/
/*ВЫБРАТЬ РАЙОН НАЧАЛО*/
.wrapper-raion {
	margin: 0 -30px;
	padding: 0px 30px 0px;
	background: url(../img/raion-main-bg.jpg) repeat-x;
}
.raiony .show-all {
	display: block;
	text-align: center;
	padding-top: 3px;
	margin-top: 19px;
	width: 285px;
	height: 40px;
	color: #fff;
	border: none;
	background: #89042D;
	font-family: "PhilosopherRegular";
	font-size: 1.5em;
}
.raiony .show-all:hover {
	text-decoration: none;
	background: #5F031E;
}
.raiony button {
	display: block;
	margin: 21px auto 14px;
	width: 449px;
	height: 47px;
	color: #fff;
	border: none;
	background: #0F1B33;
	font-family: "PhilosopherRegular";
	font-size: 1.7em;
}
.raiony button:hover {
	background: #212D65;
}
.midbg {
	margin: 0 -30px;
	height: 166px;
	background: url(../img/vibrat-raion-bg.jpg) no-repeat center;
}
/*ВЫБРАТЬ РАЙОН КОНЕЦ*/
.luchshie {
   
}
.luchshie h3 {
	margin-top: 23px;
}
.luchshie .rait-items {
	padding: 0;
}
.luchshie li {
	list-style: none;
	margin-bottom: 35px;
}
.luchshie li span {
	margin-left: 59px;
	padding-left: 45px;
	font-family: "PhilosopherRegular";
}
.luchshie li .rait-item-title {
	border-bottom: 1px solid #0F1B33;
	font-size: 1.1em;
	margin-top: 6px;
}
.luchshie li .rait-item-raiting {
	font-size: .9em;
	margin-top: 3px;
}
.luchshie li .avatar {
	display: inline;
	margin-right: -31px;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	float: left;
}
.luchshie span {
	display: block;
	width: 231px;
}
.rait-stars {
	padding: 0;
	padding-left: 72px !important;
	margin-left: 31px !important;
	margin-top: -1px;
	display: block;
}
.rait-stars li {
	display: inline-block;
	list-style: none;
	height: 18px;
	width: 19px;
}
.star {
	background: url(../img/rait-sprite.jpg) no-repeat;
}
.star-null {
	background: url(../img/rait-sprite.jpg) no-repeat;
	background-position: 0 -18px;
}
.show-all-map {
	background: #fff;
}

/*СТРАНИЦА ГЛАВНАЯ КОНЕЦ*/ 

/*СТРАНИЦА ПОИСК НАЧАЛО*/
.leftsidebar, .rightsidebar, .main-content {
	min-height: 600px;
}

/*СТРАНИЦА ПОИСК КОНЕЦ*/